@import url(./common.css);

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f5f5;
}

.success_wrap{
    width:40rem;
    padding:4rem 3rem;
    background:white;
    border-radius:1rem;
    text-align:center;
}

.success_wrap h2{
    font-size:2.8rem;
    margin-bottom:1.5rem;
}

.success_wrap p{
    font-size:1.4srem;
    margin-bottom:3rem;
}

.btn_box{
    display:flex;
    justify-content:center;
    gap:1rem;
}

.btn_box a{
    display:block;
    width:12rem;
    padding:1.2rem 0;
    font-size:1.4rem;
    border:1px solid #333;
    border-radius:0.5rem;
}