/* 공통 스타일 import[마진, 패딩, 폰트사이즈, 리스트, 앵커 , 등등] */
@import url("./common.css");

/* 공통스타일을 제외한 리스트 페이지만의 스타일링 */

/* 1. 테이블이 표시되는 영역 */
.board_list{
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    /* 표 안의 선은 td 또는 th 들이 그려아 한다. 만약 tr로 선을 그리려면  */
    border-collapse: collapse;

}
/* 테이블의 tr 요소 아래 경계선 그리기 */
.board_list tr{
    border-bottom: 1px solid #dddddd;

}

/* 각 셀마다 스타일 */
.board_list th, td{
    padding: 1rem 0rem;
    text-align: center;   
    font-size: 1.4rem;
}

/* 칸별 너비 지정하기 */
.col_no{width: 10%;}
.col_title{width: 55%; text-align: left;}
.col_writer{width: 10%;}
.col_date{width: 15%;}
.col_hits{width: 10%;}

/* 2. 페이지네이션 스타일링 */

.board_pagenation{
    margin-top: 30px;
    text-align: center;
}
/* 앵커 요소들을 버튼 모양으로 스타일링 하기. */
.btn{
    display: inline-block; /* a 요소는 인라인 요소여서 사이즈조절이 안되기에 인라인블럭으로 변경하여 조취한다. */
    width: 3.2rem;
    padding: 1rem 0rem;
    border: 1px solid #dddddd;
    font-size: 1.2rem;
}

/* 선택한 요소의 배경색 및 글자색 변경 */
.selected{
    background-color: black;
    color: white;
    border-color: black;
}